.multiLang-btn {
  position: absolute;
  top: 7%;
  right: -10%;
  border-radius: 50%;
  background: #2F2424;

  @media (max-width: 1400px) {
    right: -6%;
    top: 3%;
  }

  .selected-lang {
    border: none;
    background: none;

    cursor: pointer;
    padding: 8px;
  }

}