.wrapper {
  //display: block;
  //margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 1700px;
  gap: 125px;

  img {
    margin: 30px 0;
  }
}

.register-section {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  form {
    margin-top: 75px;
  }
}

.heading {
  h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 1.45px;
  }

  color: white;

  span {
    color: #E80004;
  }
}